*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body,#root{
    height: 100%;
    width: 100%;
}
html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(255, 253, 249);
}

.form-design{
  display: flex;
  gap: 3rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  font-size: 5rem;
}
.title{
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
.button{
  /* padding-block: 0.2rem; */
  font-size: 1rem;
  background-color: cyan;
  color: rgb(141, 136, 136);
  border-radius: 10px;
  cursor: pointer;
  

}
.button:active {
  transform: scale(0.95);
}
